#vscode files (lab1)
lab1/pattern1/.vscode
lab1/pattern1/bin
lab1/pattern1/obj
lab1/pattern2/.vscode
lab1/pattern2/bin
lab1/pattern2/obj

lab1/pattern1/pattern1.csproj
lab1/pattern1/pattern1.sln

lab1/pattern2/pattern2.sln
lab1/pattern2/pattern2.csproj


#vscode files (lab2)
lab2/pattern1/.vscode
lab2/pattern1/bin
lab2/pattern1/obj
lab2/pattern2/.vscode
lab2/pattern2/bin
lab2/pattern2/obj

lab2/pattern1/pattern1.csproj
lab2/pattern1/pattern1.sln

lab2/pattern2/pattern2.sln
lab2/pattern2/pattern2.csproj

#vscode files (lab3)
lab3/pattern1/.vscode
lab3/pattern1/bin
lab3/pattern1/obj
lab3/pattern2/.vscode
lab3/pattern2/bin
lab3/pattern2/obj

lab3/pattern1/pattern1.csproj
lab3/pattern1/pattern1.sln

lab3/pattern2/pattern2.sln
lab3/pattern2/pattern2.csproj

